NODE_ENV=

PORT=
BASE_PATH=
MONGO_URI=

MONGO_MAX_POOL_SIZE=
MONGO_SERVER_SELECTION_TIMEOUT=
MONGO_SOCKET_TIMEOUT=
MONGO_CONNECT_TIMEOUT=
MONGO_MAX_POOL_SIZE_PER_CORE=
MEMORY_THRESHOLD_MB=

JWT_SECRET=
JWT_EXPIRES_IN=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

GEMINI_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RESEND_API_KEY=
RESEND_MAILER_SENDER=

REDIS_URL=
REDIS_MAXMEMORY=
REDIS_MAXMEMORY_POLICY=

UPSTASH_REDIS_URL=

AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_CALLBACK_URL=

EXCHANGE_RATE_API_URL=


FRONTEND_ORIGIN=